2.Conversation_Chatbot.json
{
  "name": "2.Conversation_Chatbot",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "742a886d-b4f8-4caa-94e5-9ea9a384e2ee",
      "name": "When chat message received",
      "webhookId": "83764343-4ef8-495f-ae29-ceab4237aaa9"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "d2912a36-60c0-4d3d-8801-8c90245f4f49",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        208
      ],
      "id": "3c9221c9-531e-4c22-ad53-74d153306be0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "41010c85-f5d4-4c89-a357-9efeb49d3c0e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "HKNAOPtx98yVM94x",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        560,
        0
      ],
      "id": "2fe84839-c086-4411-ad77-9e9020b2013a",
      "name": "Chat",
      "webhookId": "9aaf104c-b3da-4989-a9d5-55c77c05b62d"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "557fb7d4-ee51-4da6-952f-e67968b18136",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "31b982100a331271c83d06ddebcbb18febfbf4d1010da2c1d658a491f4ffb41e"
  },
  "id": "IfAhSstxrTKM0VEb",
  "tags": []
}